<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <title>Contacts app</title>

</head>
<body>

    <header>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'contacts:home' %}" class="brand-logo center"><i class="material-icons">contacts</i>Contacts</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="btn" href="{% url 'contacts:new' %}"><i class="material-icons">person_add</i></a></li>
        </ul>
        </div>
    </nav>

    </header>
    
    <main class="container">
        {% block content %}
        {% endblock %}
   </main>

        <footer class="page-footer">
         <div class="footer-copyright">
            <div class="container">
                <p class="center">Created by <a class="white-text" href="https://github.com/leo-caicedo">Leonardo Caicedo</a></p>
            </div>
          </div>
        </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
