{% extends 'contacts/base.html' %}
{% block content %}

        {# Main title #}
            <div class="row">
                <div class="col s12">
                    <h1 class="center-align">Do you want to delete {{ object }} ?</h1>
                </div>
            </div>

        <div class="container">
            <div class="container">
            <div class="container">
                <article class="col s12 m6 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"  src="{{ contact.picture.url }}" alt="{{ contact.firstname }}" height="250">
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text activator text-darken-4">{{ contact.firstname }} {{ contact.lastname }}<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ contact.firstname }} {{ contact.lastname }}<i class="material-icons right">close</i> </span>
                            <p>Phone: {{ contact.phone }}</p>
                            <p>Email: {{ contact.email }}</p>
                            <p>Occupation: {{ contact.occupation }}</p>
                            <p>Create at: {{ contact.created }}</p>
                            <p>Last modified: {{ contact.modified }}</p>
                        </div>
                    </div>
                    </div>

                    {# Form #}
                    <form method="POST">
                        {% csrf_token %}
                                    <div class="section">
                                        <div class="row s12 center">
                                            <a href="{% url 'contacts:home' %}" class="white-text">
                                            <button type="button" class="btn waves-effect waves-light center-align">Cancel
                                                <i class="material-icons right">cancel</i>
                                            </a>
                                            </button>
                                            <button type="submit" class="btn waves-effect waves-light center-align">Delete
                                                <i class="material-icons right">delete</i>
                                            </button>
                                        </div>
                                    </div>
                    </form>
                </article>
       </div>

{% endblock %}
