<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Django</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1>Practicas con Django</h1>
    <h2>Listado de Contactos en la Base de Datos</h2>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Ocupacion</th>
                <th>Creado en </th>
                <th>Ultima Modicacion en </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.occupation }}</td>
                <td>{{ contact.created }}</td>
                <td>{{ contact.modified }}</td>
                <td><a href="{% url 'app_contacts:update' contact.id %}">Update</a> | 
                    <a href="{% url 'app_contacts:delete' contact.id %}">Delete</a></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit"><a href="{% url 'app_contacts:new'%}">Crear Contacto</a></button>
    {% endblock body %}
</body>
<
